*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul,
ol {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-image: url(../images/bg-intro-mobile.png);
  background-size: cover;
  background-color: hsl(0deg, 100%, 74%);
}

a,
i,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #fff;
}
a :visited,
i :visited,
button :visited {
  color: #fff;
}

.wrapper {
  margin-top: 20px;
  flex: 1 0 auto;
  max-width: 360px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header {
  text-align: center;
  color: #fff;
}
header h1 {
  padding-bottom: 20px;
  font-size: 1.7rem;
}
header p {
  font-size: 1rem;
  padding-bottom: 20px;
}

h2 {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: hsl(248deg, 32%, 49%);
  color: #fff;
  font-size: 1rem;
  margin: 20px 0px;
  text-align: center;
  font-size: 1rem;
  padding: 20px 50px;
}
h2 span {
  font-weight: 400;
}

.form {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: hsl(249deg, 10%, 26%);
  padding: 40px;
}
.form label.sticky {
  width: 100%;
  position: relative;
}
.form label.sticky i.error_icon {
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-error.svg);
  background-size: cover;
  z-index: 2;
  position: absolute;
  top: -50px;
  right: 30px;
}
.form label.sticky > input[type=text],
.form label.sticky input[type=password] {
  width: 100%;
  padding: 1.2rem;
  background: transparent;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(249deg, 10%, 26%);
  border: 1px solid hsl(246deg, 25%, 77%);
}
.form label.sticky > input[type=text]:focus,
.form label.sticky input[type=password]:focus {
  border: 1px solid hsla(154deg, 59%, 51%, 0.88);
  outline: none;
}
.form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: hsla(154deg, 59%, 51%, 0.88);
  box-shadow: inset 0px -3px 1px 0px hsl(154deg, 59%, 51%);
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;
  transition: filter 0.3s;
  outline: none;
}
.form button:hover {
  filter: brightness(1.1);
}
.form p {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(246deg, 25%, 77%);
  text-align: center;
  margin-top: 10px;
}
.form p a {
  color: hsl(0deg, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}
.form p.error {
  color: red;
  margin-top: -5px;
  font-weight: 600;
  font-style: italic;
  text-align: right;
  position: relative;
}
.form p.notActive {
  display: none;
}

.footer {
  padding: 0.5rem;
  width: 100%;
  color: #fff;
  background-color: hsl(249deg, 10%, 26%);
  font-size: 0.7rem;
}
.footer .attribution {
  text-align: center;
}
.footer .attribution a {
  text-decoration: none;
  color: #fff;
}
.footer .attribution a:visited {
  color: #fff;
}

@media (min-width: 1200px) {
  .wrapper {
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .wrapper header {
    text-align: left;
    margin-right: 20px;
  }
  .wrapper header h1 {
    font-size: 2.5rem;
  }
  .form {
    min-width: 600px;
  }
}/*# sourceMappingURL=style.css.map */