
// Primary

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Light_Green: hsla(154, 59%, 51%, 0.88);

// Accent

$Blue: hsl(248, 32%, 49%);

// Neutral

$Dark_Blue: hsl(249, 10%, 26%);
$Grayish_Blue: hsl(246, 25%, 77%);
